
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(84, 82, 82);
    overflow: hidden;
}

.signin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    
  }
  .error{
    position:absolute;
    margin-bottom: -500px;
    color: red;
  }
  